<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DT2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
     <mailSettings>
      <smtp deliveryMethod="Network" from="DesktopWebApp@citrix.com">
        <network host="smtp.gmail.com" port="587" userName="dlafferty@gmail.com" password="aijrgozrrqpmgvfb" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="ADConnectionString" connectionString="LDAP://ad.DesktopWebApp.cambourne.cloud.com/DC=DesktopWebApp,DC=cambourne,DC=cloud,DC=com" />
  </connectionStrings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="./log/webapp.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="45" slidingExpiration="false" protection="All" />
    </authentication>
    <membership defaultProvider="ADMembershipProvider">
      <providers>
        <clear />
        <add name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <legacyImpersonationPolicy enabled="false" />
    <alwaysFlowImpersonationPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <DT2.Properties.Settings>
      <setting name="CloudStackSecretKey" serializeAs="String">
        <value>dF5PDBafces79JW3AXo3o98dcn0v1jrfjNuN04h0eJ_eDA0zLZuSXey_cJ--FRjWonG5lHgxKaKriYxQSWIF0A</value>
      </setting>
      <setting name="CloudStackApiKey" serializeAs="String">
        <value>m4JGw31IgcvabsE9QwWqrHFukXK_LmYbaunFx2rApFcfZVoxJBNed0RgZ0suI3gksciAsoaAQXAB_zbTEcRtXw</value>
      </setting>
      <setting name="CloudStackHypervisor" serializeAs="String">
        <value>XenServer</value>
      </setting>
      <setting name="XenDesktopAdminAddress" serializeAs="String">
        <value>xdc1.DesktopWebApp.cambourne.cloud.com:80</value>
      </setting>
      <setting name="XenDesktopHostingUnitName" serializeAs="String">
        <value>CloudPlatformHost</value>
      </setting>
      <setting name="XenDesktopDomain" serializeAs="String">
        <value>DesktopWebApp.cambourne.cloud.com</value>
      </setting>
      <setting name="XenDesktopDDC" serializeAs="String">
        <value>xdc1.DesktopWebApp.cambourne.cloud.com</value>
      </setting>
      <setting name="XenDesktopAvailabilityZone" serializeAs="String">
        <value>Advanced-zone</value>
      </setting>
      <setting name="CloudStackZoneId" serializeAs="String">
        <value>c079a19f-7eb1-463c-b5bc-13d508584d5a</value>
      </setting>
      <setting name="TestDisableCatalogCreate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XenDesktopStoreFrontUrl" serializeAs="String">
        <value>http://192.168.0.50/Citrix/StoreWeb/</value>
      </setting>
      <setting name="CloudStackUrl" serializeAs="String">
        <value>http://pmlab.cpbm.citrite.net/portal/client/apis/CCPDIXON</value>
      </setting>
      <setting name="LdapPath" serializeAs="String">
        <value>LDAP://CN=users,DC=DesktopWebApp,DC=cambourne,DC=cloud,DC=com</value>
      </setting>
      <setting name="SecurityGroups" serializeAs="String">
        <value />
      </setting>
      <setting name="PowerShellScriptsFolder" serializeAs="String">
        <value>C:\Users\administrator.CLOUDDESKTOP\Documents\GitHub\DesktopWebApp\DT2\Utils</value>
      </setting>
      <setting name="CheckUserForCreatePrivileges" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="templatefilter" serializeAs="String">
        <value>executable</value>
      </setting>
      <setting name="CPBMEndPoint" serializeAs="String">
        <value>http://pmlab.cpbm.citrite.net/portal/api</value>
      </setting>
      <setting name="CPBMApiKey" serializeAs="String">
        <value>wNRXbfi96S3rLknkmG3t0qwGkQHX32RmQcAkvUVlAVGxetveDHXKYKoI5FZYlFfQ05k1QtbTgtAdc_F1e7UDIw</value>
      </setting>
      <setting name="CPBMSecretKey" serializeAs="String">
        <value>6AYwvDsp9r6s-IgT4R9PUyynbb7h5Vo-3_hgwTTiBSHcO_lCOzrww_aUC-uhcEXEYGANvDjeGSwoqC6u5GL_vA</value>
      </setting>
      <setting name="TestDisableImageFetch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CPBMServiceInstanceName" serializeAs="String">
        <value>IaaS US West</value>
      </setting>
      <setting name="TestDisableProductBundleGet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TestDisableServiceOfferingGet" serializeAs="String">
        <value>True</value>
      </setting>
    </DT2.Properties.Settings>
  </applicationSettings>
</configuration>
