html {
    background-image: none; background-color: rgb(255, 255, 255);
}
body {
    background-image: none; background-color: rgb(255, 255, 255);
}
body {
    padding-top: 0px; padding-bottom: 20px;
}
footer {
    border-top: 1px solid rgb(204, 204, 204);
    clear: both;
    padding-top: 10px;
}
.body-content {
    
}
/* These break the Twitter Bootstrap grid capabilities
    
    input {
    max-width: 280px;
}
select {
    max-width: 280px;
}
textarea {
    max-width: 280px;
}*/
.field-validation-error {
    color: rgb(185, 74, 72);
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid rgb(185, 74, 72); border-image: none;
}
input[type='checkbox'].input-validation-error {
    border: 0px currentColor; border-image: none;
}
.validation-summary-errors {
    color: rgb(185, 74, 72);
}
.validation-summary-valid {
    display: none;
}
.btn-default.btn {
    background: rgb(255,255,255) !important; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(238,238,238))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(238,238,238) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(238,238,238) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(238,238,238) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ) !important; /* IE6-9 */ 
    
    padding: 5px 10px !important; 
    border-radius: 3px; 
    border: 1px solid rgb(153, 153, 153) !important; 
    border-image: none !important; 
    height: auto !important; color: rgb(102, 102, 102) !important; 
    font-size: 14px; 
    font-weight: normal;
}

.btn-default.btn:hover {
    background: rgb(255,255,255) !important; ; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(227,244,249))) !important; ; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(227,244,249) 100%) !important; ; /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(227,244,249) 100%) !important; ; /* IE10+ */
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(227,244,249) 100%) !important; ; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3f4f9',GradientType=0 ) !important; ; /* IE6-9 */

    border: 1px solid rgb(7, 170, 234) !important; 
    border-image: none !important; 
    color: rgb(51, 51, 51) !important; 
    font-weight: normal; 
    box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.15);
}
.btn-default.btn.emp {
    background: rgb(45,170,241) !important; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(45,170,241)), color-stop(100%,rgb(14,112,178))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(45,170,241) 0%,rgb(14,112,178) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgb(45,170,241) 0%,rgb(14,112,178) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgb(45,170,241) 0%,rgb(14,112,178) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2daaf1', endColorstr='#0e70b2',GradientType=0 ) !important; /* IE6-9 */

    
    padding: 5px 10px !important; 
    border-radius: 3px; 
    border: none !important; 
    border-image: none !important; 
    height: auto !important; 
    color: rgb(255, 255, 255) !important; 
    font-size: 14px; 
    font-weight: normal;
}
.btn-default.btn.emp:hover {
    background: rgb(0,155,239) !important; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,155,239)), color-stop(100%,rgb(0,105,175))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(0,155,239) 0%,rgb(0,105,175) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgb(0,155,239) 0%,rgb(0,105,175) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgb(0,155,239) 0%,rgb(0,105,175) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009bef', endColorstr='#0069af',GradientType=0 ) !important; /* IE6-9 */

    box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.15);
}
.table .boxed {
    font-size: 16px; align-content: center;
}
.ctx-table-styled {
    background: rgb(240, 248, 250); padding: 10px; border-image: none; line-height: normal; clear: both; margin-bottom: 15px;
}
.ctx-table-styled td {
    padding: 7px 11px 8px; border: 1px solid rgb(228, 228, 228); border-image: none; width: 250px;
}
.ctx-table-styled td + td {
    width: auto;
}

.ctx-table-styled th td {
    border: 0px solid transparent !important; border-image: none !important; text-align: left; font-weight: normal; vertical-align: bottom; background-color: rgb(240, 248, 250);
}
.ctx-table-styled th label {
    font-weight: normal; margin-bottom: 0px; display: table-cell;
}
.ctx-table-styled .row_1 td {
    background: rgb(227, 244, 247);
}
.client-logo {
    background: url("Images/client-logo.gif") no-repeat center; width: 120px; height: 42px; margin-top: 0px; float: right;
}
.cd-logo {
    background: url("Images/cd-logo.png") no-repeat center; margin: 0px 60px 0px 0px; width: 175px; height: 30px; float: left;
}
#dw-masthead-top-row li#dw-mast-top-0 div {
    padding-right: 0px; padding-left: 0px;
}
#dw-masthead-top-row li {
    margin-left: 10px; border-right-width: 0px !important; border-left-width: 0px !important; float: right; list-style-type: none;
}
#dw-masthead-top-row li a {
    color: rgb(0, 89, 140); padding-right: 0px; font-size: 12px;
}
#dw-masthead-top-row {
    background-color: transparent;
}
#ks-menu-links-dw li {
    margin-top: 12px; list-style-type: none;
}
#ks-menu-links-dw li a {
    background: url("Images/tab-bg.png") left top; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; padding: 10px 15px; border-image: none; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 14px; margin-right: 3px; display: block; list-style-type: none; border-top-left-radius: 3px; border-top-right-radius: 3px; text-shadow: none;
}
#ks-menu-links-dw li a:hover {
    background: url("Images/tab-bg.png") left top; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; padding: 10px 15px; border-image: none; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 14px; margin-right: 3px; display: block; list-style-type: none; border-top-left-radius: 3px; border-top-right-radius: 3px; text-shadow: none;
}
#ks-menu-links-dw li a:hover {
    color: rgb(0, 0, 0); text-decoration: none; text-shadow: none; background-color: rgb(255, 255, 255);
}
#ks-menu-links-dw li a.active {
    color: rgb(0, 0, 0); text-decoration: none; text-shadow: none; background-color: rgb(255, 255, 255);
}
#ks-menu-links-dw li a.active {
    color: rgb(153, 153, 153);
}
#masthead {
    background: url("Images/header.jpg") no-repeat center rgb(245, 245, 245); position: relative;
}
#universal-nav-dw {
    background-color: transparent;
}
#dw-masthead-top-row {
    height: 22px; overflow: hidden;
}
#universal-nav-dw {
    width: 100%; height: 52px; overflow: hidden;
}
#universal-nav-dw li {
    float: left;
}
.h2-alternate {
    text-align: left !important; font-size: 18px;
}
.notification {
    background: rgb(238, 238, 238); padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(153, 153, 153); overflow: hidden; font-size: 16px;
}
.notification b {
    color: rgb(102, 102, 102); text-transform: uppercase; font-size: 14px; font-weight: bold;
}
.notification .btn {
    margin-left: 10px; float: right;
}
.notification .col-md-offset-2.col-md-10 {
    margin: 5px 0px 0px; padding: 0px; width: auto; clear: both; float: right;
}
.notification label {
    font-weight: normal;
}
.boxed.table td {
    padding: 10px 0px 0px; border: currentColor; border-image: none; height: 60px; vertical-align: middle;
}
.table.boxed td img {
    float: left;
}
.table.boxed td span {
    color: rgb(153, 153, 153); font-size: 30px; font-weight: bold;
}
.table.boxed td .stats {
    padding: 20px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 180px; height: 128px; float: left;
}
@media all and (min-width: 1200px) {
  .table.boxed td .stats {
    width: 250px;
  }
}
.col-md-4.boxed {
    width: 33.33%;
}
.col-md-8.boxed {
    border: 1px solid rgb(204, 204, 204); border-image: none; margin-top: 10px; min-height: 542px;
}
.form-horizontal {
    background: rgb(240, 248, 250); padding: 10px; margin-left: 0px;
}
.form-horizontal input[type='text'] input[type='password'] {
    width: 344px;
}
.form-horizontal :nth-child(2n+1).form-group {
    
}
.form-group {
    padding: 5px; margin-left: 0px; vertical-align: middle;
}
.group-search .form-group {
    margin-bottom: 0;
}
.form-horizontal .control-label {
    margin: 3px 0px 0px; font-weight: normal;
}
.form-group input[type='text'], .form-group input[type='url'], .form-group textarea, select {
    padding: 4px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(70, 70, 70);
}
.form-group input, .form-group select {
    width: 100%;
}
.form-group input[type="submit"], .form-group input[type="button"] {
    width: auto !important;
}
.form-group textarea {
    width: 100%;
    height: 85px;
}
.form-group input[type='number'] {
    padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 75px; color: rgb(70, 70, 70);
}
.btn-narrow {
    margin: 10px; display: block;
}
.form-horizontal .form-group {
    margin-right: 0px; margin-left: 0px;
}
.group-search {
    background: rgb(238, 238, 238); 
    width: 800px;
    padding: 10px;
    margin-bottom: 10px;
}
.group-search label + div {
    clear: both;
}
.bblue {
    background: rgb(240, 248, 250);
}
.highcharts-container {
    margin-top: 8%;
}
.ctx-table-styled .group-search td {
    padding: 0;
}
.group-search select[multiple] {
    width: 200px;
}
.centeredtext {
    text-align: center;
}
h5 {
    margin-left: 7px;
}
.piechart_container {
    overflow: hidden;
}

footer {
    margin-top: 10px;
    border-top: 3px solid rgb(66, 139, 202);
}

.btn + .btn {
    margin-right: 10px;
}

.form-horizontal {
    background: none; 
}

.form-horizontal h3 {
    margin-top: -10px;
    background: rgb(66, 139, 202);
    color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-horizontal .col-md-3 {
    width: 30%;
}
.form-horizontal .col-md-8 {
    width: 70%;
}

.bg-warning, .bg-success {
    background: none;
}

.col-md-offset-1 {
    margin-left: 0; 
    background: #f5f5f5;
    color: #666;
    padding-bottom: 10px;
}

.col-md-offset-1 h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    border-bottom: 1px dotted #999;
    padding-bottom: 5px;
    color: #444;
}

.bg-success h3 {
    margin-top: 25px;
}

.form-group .control-label.col-md-3 {
    text-align: left;
}